<div id="cartnclient" class="col-md-3">
{{#if session.isAuthenticated}}  
  <div id="buttons" class="btn-group btn-xl btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default" {{action 'contulMeu'}}><span class="glyphicon glyphicon-user"></span><span> Bine ai venit,<br><strong>{{user.customer_first_name}}</strong></span> </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" {{action 'cosulMeu'}}><span class="glyphicon glyphicon-shopping-cart"></span> <span>Cosul meu<br>
        
        {{#if counter}}
          <strong>{{total}} Lei </strong><span class="badge">{{counter}}</span>
        {{else}}
          <strong>Nu ai produse</strong>
        {{/if}}
        </span>
        </button>
      </div>
  </div>

{{else}}
  <div id="buttons">
    <div class="btn-group btn-xl btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-default" {{action 'login'}}><span class="glyphicon glyphicon-user"></span><span> Bine ai venit,<br><strong>Contul meu</strong></span> </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default" {{action 'cosulMeu'}}><span class="glyphicon glyphicon-shopping-cart"></span> <span>Cosul meu<br>
        
        {{#if counter}}
          <strong>{{total}} Lei </strong><span class="badge">{{counter}}</span>
        {{else}}
          <strong>Nu ai produse</strong>
        {{/if}}
        </span>
        </button>
      </div>
    </div>
    <div id="xtra-cart" class="col-md-12">
        <form {{action "signInWithToolz" on="submit"}}>
            {{input type="text" class="login-form" id="email" value=email placeholder="Email" required="required"}}
            {{input type="password" class="login-form" id="password" value=password placeholder="Parola" required="required" }}
            
            <button class="btn navbar-btn" type="submit">Intră în cont</button>
        </form>
            {{#link-to 'recuperareParola'}} Am uitat parola{{/link-to}}
            <br/>
            Sau intră în cont cu:<br/>
            <a class="webicon facebook large" {{action "signInWithFacebook"}}>Facebook</a>
            <a class="webicon linkedin large" {{action "signInWithLinkedIn"}}>LinkedIn</a>
            <a class="webicon twitter large"  {{action "signInWithTwitter"}}>Twitter</a>
            <a class="webicon googleplus large" {{action "signInWithGoogle"}}>GooglePlus</a>
            <br/>
            Nu ai cont? Crează unul {{#link-to 'contNou'}}aici{{/link-to}}
    </div>
  </div><!--buttons-->
{{/if}}
</div>