<div class="container">
	{{partial "header"}}
<div class="row">
{{partial "aside"}} 
	  {{partial "specialisti"}}
	  	<div class="col-md-9 pzero mainbox">
	  		{{outlet}}		
	  	</div>
	  	
</div><!--main row-->
{{partial "footer"}}
</div><!--container-->