<footer id="main-footer" class="row">
  <nav class="footer-nav" role="navigation">
    <ul class="nav nav-list sidenav col-md-3"></ul>
    <ul class="nav nav-list sidenav col-md-2">
      {{#link-to 'termeni-si-conditii' tagName="li"}}<a {{bind-attr href="view.href"}}>Termeni si conditii</a>{{/link-to}}
      {{#link-to 'categorii' tagName="li"}}<a {{bind-attr href="view.href"}}>Lista categorii</a>{{/link-to}}
      {{#link-to 'comanda-rapida' tagName="li"}}<a {{bind-attr href="view.href"}}>comanda rapida</a>{{/link-to}}
      {{#link-to 'cont' tagName="li"}}<a {{bind-attr href="view.href"}}>Contul meu</a>{{/link-to}}
      {{#link-to 'convertor' tagName="li"}}<a {{bind-attr href="view.href"}}>Convertor</a>{{/link-to}}
    </ul>
    <ul class="nav nav-list sidenav col-md-2">
      {{#link-to 'cum-comand' tagName="li"}}<a {{bind-attr href="view.href"}}>Cum comand</a>{{/link-to}}
      {{#link-to 'producatori' tagName="li"}}<a {{bind-attr href="view.href"}}>Producatori</a>{{/link-to}}
      {{#link-to 'contact' tagName="li"}}<a {{bind-attr href="view.href"}}>Contact</a>{{/link-to}}
      {{#link-to 'forum' tagName="li"}}<a {{bind-attr href="view.href"}}>Forum</a>{{/link-to}}
      {{#link-to 'securitatea-tranzactiilor' tagName="li"}}<a {{bind-attr href="view.href"}}>Securitatea tranzactiilor</a>{{/link-to}}
    </ul>
    <ul class="nav nav-list sidenav col-md-2">
      {{#link-to 'despre-noi' tagName="li"}}<a {{bind-attr href="view.href"}}>Despre noi</a>{{/link-to}}
      {{#link-to 'promotii' tagName="li"}}<a {{bind-attr href="view.href"}}>Promotii</a>{{/link-to}}
      {{#link-to 'fidelizare' tagName="li"}}<a {{bind-attr href="view.href"}}>Fidelizare client</a>{{/link-to}}
      {{#link-to 'produse-noi' tagName="li"}}<a {{bind-attr href="view.href"}}>Produse noi</a>{{/link-to}}
      {{#link-to 'protectia-consumatorilor' tagName="li"}}<a {{bind-attr href="view.href"}}>Protectia consumatorilor</a>{{/link-to}}
    </ul>
    <ul class="nav nav-list sidenav col-md-2">
      {{#link-to 'index' tagName="li"}}<a {{bind-attr href="view.href"}}>Acasa</a>{{/link-to}}
      {{#link-to 'solduri' tagName="li"}}<a {{bind-attr href="view.href"}}>Solduri</a>{{/link-to}}
      {{#link-to 'voucher' tagName="li"}}<a {{bind-attr href="view.href"}}>Voucher</a>{{/link-to}}
      {{#link-to 'catalog' tagName="li"}}<a {{bind-attr href="view.href"}}>Catalog</a>{{/link-to}}       
    </ul>
  </nav>
  <div id="copyright" class="center-block col-md-4">&copy; 2014 Virtual Tools SRL. Toate drepturile rezervate.</div>
</footer> 